{% extends 'index.html' %}
{% block content %}

<style>
    .content{
        padding: 20px;
        margin: auto;
        margin-top: 100px;
        border: 1px solid var(--light);
        border-radius: 20px;
        max-width: 800px;
        background: linear-gradient(to bottom right, var(--primary), var(--secondary));
            }
</style>
<div class="container mt-5">
    <div class="content">
        <h2>REGISTRATION</h2>
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
        <p class="text-danger">{{form.errors}}</p>



      
        <form method="post">
            {% csrf_token %}
           
            {% csrf_token %}
            
            {% for fields in form %}
                {{fields.label}}:

                {{fields}}
                <br>

            {% endfor %}
           <br><br>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <br>
        <br><br>
        Have an Account <a href="{%url 'signin' %}">Click HERE</a>
    </div>
</div>
<script>
    document.getElementById("phone").addEventListener("input", function (e) {
        let value = e.target.value;
    
        // Remove any non-digit characters (in case of copy-paste)
        value = value.replace(/\D/g, '');
    
        // Trim to 10 digits
        if (value.length > 10) {
            value = value.slice(0, 10);
        }
    
        e.target.value = value;
    });
    </script>
{% endblock %}
   
